:root
{
    --main_color: #F5CDA7;
    --hightlight_color: #E54B4B;
}

#character_picker
{
    position: absolute;

    top: 20vh;
    left: 50%;

    transform: translate(-50%, 0%);
    width: 220px;

    height: calc(150px + 10vh);
}

.character_picker_arrow_rect
{
    width: 50px;
    height: 50px;
}

.character_picker_arrow
{
    width: 40px;
    height: 40px;
    color: #E54B4B;
    fill: #E54B4B;
}

#left_arrow_character_picker_rect
{
    position: absolute;
    top: calc(120px + 30vh);
    z-index: 9999;
    left: calc(50% - 10vh - 50px);
    transform: translate(-50%, 0%);
}

#right_arrow_character_picker_rect
{
    position: absolute;
    top: calc(120px + 30vh);
    z-index: 9999;
    right: calc(50% - 10vh - 50px);
    transform: translate(50%, 0%);
}

#right_arrow_character_picker
{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.character_image
{
    max-width: calc(75px + 30vw);
    max-height: calc(130px + 10vh);

    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0%);
}

#create_screen_name_input
{
    width: 80vw;
    position: absolute;
    bottom: calc(10vh + 46px);
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--hightlight_color);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

#validate_create_button
{
    width: 80vw;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
}

#background_image
{
    z-index: -20;
    position: absolute;
    bottom: -20vh;
    height: 110vh;
    left: calc(50vw);
    transform: translate(-50%, 0);
    opacity: 0.65;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}