:root
{
    --main_color: #F5CDA7;
    --main_color_lighter: #f7d8ba;
    --main_color_darker: #f2be8c;
    --hightlight_color: #E54B4B;
    --black_color: #1A1423;
    --light_color: #92DCE5;
    --dark_color: #52DEE5
}

#host_bar {
    position: relative;
    display: flex;
    width: 100%;
    max-height: 50px;
    position: absolute;
    bottom: 60px;
    left: 0px;
}

#start_button
{
    position: absolute;
    top: 0px;
    left: 4%;
    height: 50px;
    width: calc(92% - 50px - 10px);
}

#config_button
{
    position: absolute;
    top: 0px;
    right: 4%;
    height: 50px;
    width: 50px;
}

#game_content .player_row
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
}

.player_name
{
    height: 50%;
    width: 100%;
    text-align: center;
    font-size: calc(13px);
}

.personnal_player_name
{
    color: var(--black_color);
    font-style: oblique;
    font-weight: bold;
}

.player
{
    position: relative;
    height: 85px;
    width: 100px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hand_cursor
{
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform: rotate(-40deg);
}

.player.hovered .hand_cursor
{
    opacity: 0.5;
}

.player.selected .hand_cursor
{
    opacity: 1;
}

#player_row_1
{
    position: absolute;
    top: calc(85px + 3vh);
    left: 0;
    width: 100%;
}

#player_row_2
{
    position: absolute;
    top: calc(85px + 8vh);
    left: 0;
    width: 100%;
}

#player_row_3
{
    position: absolute;
    top: calc(85px + 26vh);
    left: 0;
    width: 100%;
}

#player_row_4
{
    position: absolute;
    top: calc(85px + 44vh);
    left: 0;
    width: 100%;
}

#player_row_5
{
    position: absolute;
    top: calc(85px + 51vh);
    left: 0;
    width: 100%;
}

.separator
{
    width: 40%;
}

#send_word_bar
{
    position: relative;
    display: flex;
    width: 100%;
    max-height: 50px;
    position: absolute;
    bottom: 60px;
    left: 0px;
}

#send_word_input
{
    position: absolute;
    top: 0px;
    left: 4%;
    height: 50px;
    width: calc(92% - 50px - 10px);
    color: #1A1423;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
}

#send_word_button
{
    position: absolute;
    top: 0px;
    right: 4%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"]::placeholder
{
    color: var(--hightlight_color);
    font-style: italic;
    font-weight: bold;
}

#confirm_vote_button
{
    width: 80vw;
    height: 58px;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
}

#go_to_vote_button
{
    width: 80vw;
    height: 58px;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.talks-left
{
    position: absolute;
    top: 0px;
    right: calc(50% + 15px);
}

.talks-right
{
    position: relative;
    position: absolute;
    top: 0px;
    left: calc(50% + 15px);
}

.talks p
{
    margin: 0px;
}

.talks h5
{
    margin: 0px;
}

.talks
{
    background-color: var(--light_color);
    color: var(--black_color);
    width : auto;
    height : auto;
    min-width: 50px;
    z-index: 10;
}

.talks
{
    display: none;
}

.talks.isTalking, .talks.justTalked
{
    display: block;
}

.talks.isTalking
{
    display: block;
}

.talks.justTalked
{
    display: block;
}

.talks.isTalking p
{
    display: none;
}

.talks.justTalked h5
{
    display: none;
}

.colored-background
{
    height: 95px;
    width: 95px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.colored-background.hovered
{
    background-color: var(--light_color);
}

.colored-background.selected
{
    background-color: var(--dark_color);
}

.player img
{
    height: 55px;
    z-index: 5;
}

.button
{
    
}

#option
{
    height: 50%;
}

#word_sender
{
    position: absolute;
    bottom: 20px;
    height: 50px;
    left: 5%;
    width: 90%;
}

#word_input
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#word_input input
{
    width: 100%;
    height: 100%;
}

#send_button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#go_to_vote
{
    position: absolute;
    bottom: 20px;
    height: 100px;
    left: 5%;
    width: 90%;
}

#reward_panel
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 90vw;
    background-color: beige;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#reward_panel h2
{
    font-size : 26px;
    font-weight: bold;
    color : black;
}

#reward_panel h4
{
    font-size : 20px;
    color : black;
}