:root
{
    --main_color: #F5CDA7;
    --hightlight_color: #E54B4B;
}

#title
{
    color: var(--hightlight_color);

    font-size: 40px;
    font-weight: bold;

    line-height: 50px;
    height: 50px;
    vertical-align: middle;

    position: absolute;
    top: 4vh;
    width: 100%;
}

#create_button
{
    position: absolute;
    left: 10vw;
    bottom: calc(9vh + 58px);
    width: 80vw;
}

#join_button
{
    position: absolute;
    left: 10vw;
    bottom: 6vh;
    width: 80vw;
}

#background_image
{
    z-index: -20;
    position: absolute;
    bottom: -20vh;
    height: 110vh;
    left: calc(50vw);
    transform: translate(-50%, 0);
}