:root
{
    --main_color: #F5CDA7;
    --main_color_lighter: #f7d8ba;
    --main_color_darker: #f2be8c;
    --hightlight_color: #E54B4B;
    --hightlight_color_lighter:#E96666;
    --hightlight_color_darker:#E02626;
    --black_color: #1A1423;
    --light_color: #92DCE5;
    --dark_color: #52DEE5
}

#change_roles_button
{
    bottom: calc(8vh + 58px);
}

.slider span, .slider h2
{
    font-size: 25px;
    font-weight: bold;
    color: var(--hightlight_color);
    display: inline;
}

.slider span
{
    margin-left: 5px;
}

.slider input
{
    width: 60vw;
    accent-color: var(--hightlight_color);
}

#rounds_slider
{
    position: absolute;
    top: calc(85px + 5vh);
    left: 50%;
    transform: translate(-50%, 0%);
}

#words_slider
{
    position: absolute;
    top: calc(85px + 17vh);
    left: 50%;
    transform: translate(-50%, 0%);
}

#round_div {
    position: absolute;
    top: 5%;
    left: 5%;
}

#imposter_settings_image {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 50px;
}

#imposter_counter {
    position: absolute;
    top: 20%;
    left: 50%;
    color: black;
    width: 50px;
}

#imposter_minus_button {
    position: absolute;
    top: 20%;
    left: calc(50% - 20px);
    width: 35px;
}

#imposter_plus_button {
    position: absolute;
    top: 20%;
    left: calc(50% + 20px);
    width: 35px;
}

#ignorant_settings_image {
    position: absolute;
    top: 50%;
    left: calc(50% + 20px);
    width: 50px;
}

#ignorant_counter {
    position: absolute;
    top: 50%;
    color: black;
    left: calc(50% + 20px);
    width: 50px;
}

#ignorant_minus_button {
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    width: 35px;
}

#ignorant_plus_button {
    position: absolute;
    top: 50%;
    left: calc(50% + 20px);
    width: 35px;
}